.container3{
    background-color:skyblue;
    margin-top: -3%;
    height: 100vh;
    padding-top: 5%;
    .form{
        background-color:rgb(169,47,252);
        width: 20%;
        margin-left: 40%;
        text-align: center;
        line-height: 35px;
        border-radius: 10%;
        padding: 3%;
        height:60vh;
    }
 .submit{
   padding: 3%;
   border: 2px solid salmon;
   border-radius: 1em;
 }
 .input{
    padding: 3%;
    border: 2px solid salmon;
    border-radius: 1em;
 }
 label{
    font-family: Arial, Helvetica, sans-serif;
 }
}
